@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100vw;
  display: relative;
  font-family: "Raleway Variable", sans-serif;
}

::selection {
  @apply bg-expanse-100;
}

.link-appear {
  position: relative;
  display: inline-block;
  padding-bottom: 4px;
}

.link-appear::after {
  @apply bg-stars-100;
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  animation: draw-border 1s ease-in-out forwards;
  animation-delay: 2s;
}

@keyframes draw-border {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.underline-appear {
  display: inline-block;
  cursor: pointer;
}

.underline-appear-white::after {
  @apply border-stars-100 border-b-[1px];
  content: "";
  display: block;
  height: 1px;
  width: 0;
  transition: width 0.5s ease;
  pointer-events: none;
  z-index: -1;
}
.underline-appear-white:hover::after {
  width: 100%;
  pointer-events: none;
}

.underline-appear-white:active::after {
  width: 100%;
  pointer-events: none;
}

.underline-appear::after {
  @apply border-dune-100 border-b-[2px];
  content: "";
  display: block;
  height: 1px;
  width: 0;
  transition: width 0.5s ease;
  pointer-events: none;
  z-index: -1;
}
.underline-appear:hover::after {
  width: 100%;
  pointer-events: none;
}

.underline-appear:active::after {
  width: 100%;
  pointer-events: none;
}

.cta::before {
  background: white;
  content: "";
  position: absolute;
  width: 100%;
  height: 40%;
  top: 60%;
  z-index: -1;
}
