@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100%;
  min-height: 100vh;
  display: relative;
  font-family: "Raleway Variable", sans-serif;
  --dune-100: #eca400;
  --expanse-100: #2dbfd4;
  background: #f4efe8;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--dune-100) inset !important;
}

.img_scalable {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

button {
  @apply active:opacity-50;
}
a {
  @apply active:opacity-50;
}

:focus {
  @apply outline-expanse-100;
}

::selection {
  @apply bg-expanse-100;
}

.underline-drawn {
  position: relative;
  /* display: inline-block; */
  padding-bottom: 4px;
}

.underline-drawn::after {
  @apply bg-stars-100;
  content: "";
  position: absolute;

  bottom: -8%;
  left: 0;
  height: 2px;
  animation: appear-width 1s ease-in-out forwards;
  animation-delay: 2s;
}

.link-highlight {
  @apply relative z-0 cursor-pointer rounded-md border-b-[2px] text-[0.9em];
}

.link-highlight:hover {
  @apply border-0 pb-[2px];
  animation: color_change 0.4s linear forwards;
}

.link-highlight:hover::before {
  @apply bg-stars-100;
  content: "";
  position: absolute;
  border-radius: 5px;
  width: 100%;
  left: 0;
  height: 100%;
  top: 0%;
  z-index: -1;
  animation: upward 0.2s linear forwards;
}

.underline-appear {
  display: inline-block;
  cursor: pointer;
}

.underline-appear-white::after {
  @apply border-b-[1px] border-stars-100;
  content: "";
  display: block;
  height: 1px;
  width: 0;
  transition: width 0.5s ease;
  pointer-events: none;
  z-index: -1;
}
.underline-appear-white:hover::after {
  width: 100%;
  pointer-events: none;
}

.underline-appear-white:active::after {
  width: 100%;
  pointer-events: none;
}

.underline-appear::after {
  @apply border-b-[2px] border-dune-100;
  content: "";
  display: block;
  height: 1px;
  width: 0;
  transition: width 0.5s ease;
  pointer-events: none;
  z-index: -1;
}
.underline-appear:hover::after {
  width: 100%;
  pointer-events: none;
}

.underline-appear:active::after {
  width: 100%;
  pointer-events: none;
}

.highlighter-underline {
  @apply relative;
  z-index: 1;
}
.highlighter-underline::after {
  content: "";
  position: absolute;
  height: 40%;
  top: 50%;
  left: 0;
  border-radius: 3px;
  background: var(--expanse-100);
  z-index: -1;
  animation: appear-width 1.5s cubic-bezier(0.9, 0, 1, 1) forwards;
  animation-delay: 1s;
}

.cta::before {
  background: white;
  content: "";
  position: absolute;
  width: 100%;
  height: 40%;
  top: 60%;
  z-index: -1;
}

.glass-menu {
}

.glass-menu::before {
  content: "";
  position: absolute;
  @apply absolute bottom-0 left-0 right-0 top-0 rounded-full;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  z-index: -1;
  transform-origin: center;
  transition: transform 0.3s ease;
}

.glass-menu:hover::before {
  transform: scale(1.1); /* Scale the background with the element */
}

@keyframes appear-width {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes upward {
  0% {
    transform: translateY(25%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes color_change {
  0% {
    color: auto;
  }
  100% {
    color: var(--expanse-100);
  }
}
